<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirecionar requisições para a pasta public se não forem arquivos/diretórios reais na raiz
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
